.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    position: relative;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4vw;
    font-size: 1em;
}

.nav-connect{
    display: flex;
    justify-content: center;
    padding: 1.28vh 1.75vw;
    margin-left: 2vw;
    font-size: 1rem;
    border-radius: 50px;
    background: linear-gradient(135deg, #ff006f, #00fffb);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.navbar-logo{
    width: 25vw;
    max-width: 302px;
    margin-right: 2vw;
    
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
    display: flex;
    margin: auto;
}

.anchor-link{
    text-decoration: none;
    color: white;
}

.menu-icon {
    display: none;
}


@media (max-width: 768px) {
    .navbar {
        margin: 20px;
    }

    .menu-icon {
        display: block;
        top: 20px;
        right: 20px;
        position: fixed;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 10;
    }

    .nav-menu {
        position: fixed;
        top: -100%;
       padding-top: 5vh;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #161513;
        transition: 0.3s;
        padding: 20px 0;
        z-index: 5;
    }

    .nav-menu.active {
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(135deg, #ff006ff2, #00fffbef);
        margin: 0;
    }

    .nav-connect {
        display: none;
    }

    .nav-menu li{
        display: flex;
        flex-direction: row;
        gap: 5px;
        cursor: pointer;
    }

    .nav-menu li img{
        width: 4vw;
    }
}

@media(max-width: 940px){
    .navbar{
        margin: 20px;
    }
    .nav-menu{
        gap: 30px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1rem;
    }
    .nav-connect{
        display: flex;
        padding: 10px 15px;
        font-size: 1rem;
    }
   
}